<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >

    <name>First app</name>
    <description>My first mobile app</description>
    <author href="https://github.com/pgoleb/pg-hello.git" email="paloma.golebiowska@gmail.com">
		Paloma Gołębiowska
	</author>

   
   

	<platform name="android"> 
		<icon src="www/img/android.png" density="mdpi" />
		<icon src="www/img/android.png" density="ldpi" />
		<icon src="www/img/android.png" density="hdpi" />
		<icon src="www/img/android.png" density="xhdpi" />
		<icon src="www/img/android.png" density="xxhdpi" />
    </platform>

    <platform name="android">
		<splash src="www/img/splash.png" density="land-ldpi"/>
		<splash src="www/img/splash.png" density="land-mdpi"/>
        <splash src="www/img/splash.png" density="land-hdpi"/>
        <splash src="www/img/splash.png" density="land-xhdpi"/>

		<splash src="www/img/splash.png" density="port-ldpi"/>
        <splash src="www/img/splash.png" density="port-mdpi"/>
        <splash src="www/img/splash.png" density="port-hdpi"/>
        <splash src="www/img/splash.png" density="port-xhdpi"/> 
    </platform>
    <splash src="splash.png" />
	
    <prefernce name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value ="10000" />
    <preference name="SplashMaintainAspectRatio" value ="true" />
   
    
	
    <plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    <plugin name="cordova-plugin-network-information" spec="2.0.1" />
    <plugin name="cordova-plugin-device-motion" spec="2.0.1" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~4.0.1" />
</widget>
